<div class="contrainer">
	<div class="row">
		<div class="section-title"><h1>蓝卓公司</h1></div>
		<div class="col-md-5 col-md-offset-2 blur lantop-background" >
			<ul>
				<li>在职公司：<a href="http://www.lantop.com/">蓝卓教育</a></li>
				<li>参加项目：微课堂app，联亿会app</li>
				<li>微课堂项目介绍：微课堂app主要包括在线学习，做题，线上讨论话题，发私信讨论等功能。学习课程主要是ppt转换的图片，视屏，音频；线上讨论类似微博的讨论，而私信相当于微博的私信。</li>
				<li>联亿会项目介绍：该项目融合了交友，私信，资讯，活动等功能。交友主要是好友推荐，然后关注对方参加的或者组织的活动；私信类似于微博的私信；资讯主要是emba相关方面的信息的收集展现；活动类似于陌陌的活动，每个人都可以组织或者参加活动，并对活动进行评价。</li>
				<li>工作时间：2年左右</li>
				<li>项目总结：这期间，github上优秀的第三方库比较多，开发上通过cocoapods比较多的集成了一些优秀的库，同时苹果公司也发布了swift的语言。在蓝卓的工作期间，ios开发的同时对ruby，html，js等语言也比较感兴趣。所以这期间对网络知识，其他开发语言的学习，对自己技术的综合能力有一定的帮助</li>
			</ul>
		</div>

		<div class="col-md-3 col-md-offset-1" >
			<h3 class="qrtitle">微课堂</h3>
			<%= image_tag(("wkt.png"), :class => "qrcode") %>
			<h3 class="qrtitle">联亿会</h3>
			<%= image_tag(("linkemba.png"), :class => "qrcode") %>
		</div>
		
	</div>

</div>	