
<div class="row">
	<div class="section-title"><h1>基本资料</h1></div>
	<div class="col-md-3 col-md-offset-2 blur profile-background" >
		<ul>
			<li>姓名：周海建</li>
			<li>出生日期：88-07-02</li>
			<li>毕业院校：南京工程学院</li>
			<li>毕业时间：2011</li>
			<li>业余活动：体育活动</li>
			<li>github:<a href="https://github.com/viczy">viczy</a></li>
			<li>blog:<a href="http://viczy.github.io/">三每楼</a></li>
		</ul>
	</div>

	<div class="col-md-4 col-md-offset-1 blur profile-background">
		<ul>
			<li>应聘职位：iOS高级开发工程师</li>
			<li>预期年薪：面议</li>
			<li>从业时间：4年</li>
			<li>开发语言：objective-c, swift</li>
			<li>技术兴趣：平台-ROR，语言-Ruby，js, css, html, makrdown</li>
		</ul>
	</div>
</div>