<div class="row">
	<div class="section-title"><h1>瞬联公司</h1></div>
	<div class="col-md-5 col-md-offset-2 blur shunlian-background" >
		<ul>
			<li>在职公司：<a href="http://pages.chinahr.com/2011/bjp/cinet_0311/index.asp">瞬联软件科技</a></li>
			<li>参加项目：华为的外包RCS</li>
			<li>项目介绍：该项目主要是为华为公司定制通讯软件RCS，功能模块有：voip通话,视频通话，IM即时聊天等</li>
			<li>参加项目时间：半年左右</li>
			<li>项目总结：当时是毕业参加工作的第一年，学校中主要掌握的语言为c语言，在该项目中主要收获是学习了objective-c，了解了iOS的UIKit，FroundKit。</li>
		</ul>
	</div>

	<div class="col-md-3 col-md-offset-1" >
		<h3 class="qrtitle">华为RCS</h3>
		<%= image_tag(("rcs.png"), :class => "qrcode") %>
	</div>
	
</div>