<div class="row">
	<div class="section-title"><h1>正保公司</h1></div>
	<div class="col-md-5 col-md-offset-2 blur zhengbao-background" >
		<ul>
			<li>在职公司：<a href="http://www.cdeledu.com/">正保远程教育</a></li>
			<li>参加项目：会计网校app，每日一练app</li>
			<li>会计网校项目介绍：会计网校app主要是辅助考会计学员线上学习的，分为课程，答疑，题库三个组成部分。课程主要是音视频，分为在线和离线；因为课程是收费课程，中间还涉及离线课程的加密和有效期校验。题库功能包括做题统计，本地解析；答疑主要涉及题目快照标注。</li>
			<li>每日一练项目介绍：该项目相当于题库的拓展版本，融合了一些资讯信息</li>
			<li>参加项目时间：1年左右</li>
			<li>项目总结：这两个项目时期ios开发开始有比较好的第三方库出现了。在这两个项目中用到了网络方面处理的asihttprequest，和数据处理的fmdb。在这两个项目中除了对iOS的cocoatouch库进一步了解外，主要对自己代码的重构和抽象，以及各个mvc各个模块的抽象能力的提升</li>
		</ul>
	</div>

	<div class="col-md-3 col-md-offset-1" >
		<h3 class="qrtitle">会计网校</h3>
		<%= image_tag(("kuaiji.png"), :class => "qrcode") %>
		<h3 class="qrtitle">每日一练</h3>
		<%= image_tag(("pracitse.png"), :class => "qrcode") %>
	</div>
	
</div>