
<div class="home-background">
	<div class="container">
		<div class = "row">
  			<div class="col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0 guide-block">
	        	<h1>Any problem, please contact by emial: <a href="mailto:cooltobeg@gmail.com">cooltobe</a></h1>
  			</div>
		</div>
	</div>
</div>



