<% content_for :for_head do %>
	<%= stylesheet_link_tag 'fullpage', media: 'all', 'data-turbolinks-track' => true %> 
<% end %>
<div id="header">
	<div id="mail" class="btn, btn-outline-inverse, mail-attractive"></div>
	<div id="phone" class="btn, btn-outline-inverse, phone-attractive"></div>
	<div id="mail-content" class="mail-content"><p>viczy@ymail.com</p> </div>
	<div id="phone-content" class="phone-content"><p>18116340519</p> </div>
</div>
<div id="fullpage">
	<div class="section" id="section0"><%= render "profile" %></div>
	<div class="section" id="section1"><%= render "shunlian" %></div>
	<div class="section" id="section2"><%= render "zhengbao" %></div>
	<div class="section" id="section3"><%= render "lantop" %></div>
</div>

<% content_for :for_script do %>
	<%= javascript_include_tag 'fullpage', 'data-turbolinks-track' => true %>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#fullpage').fullpage({
				anchors: ['基本资料', '瞬联工作', '正保工作', '蓝卓工作'],
				navigation: true,
				navigationPosition: 'right',
				navigationTooltips: ['基本资料', '瞬联工作', '正保工作', '蓝卓工作'],
			});
		});

		$('#mail').bind("click", function(){ 
			if ($('#mail-content').hasClass("show-content")) {
				$('#mail').removeClass("mail-selected")
				$('#mail-content').removeClass("show-content")
			}else {
				$('#mail').addClass("mail-selected")
				$('#mail-content').addClass("show-content")
			}
   		 });

		$('#phone').bind("click", function(){  
     		if ($('#phone-content').hasClass("show-content")) {
     			$('#phone').removeClass("phone-selected")
				$('#phone-content').removeClass("show-content")
			}else {
				$('#phone').addClass("phone-selected")
				$('#phone-content').addClass("show-content")
			}
   		 });

	</script>
<% end %>