// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

/* home */
.home-background{
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    max-height: 100%;
	background: -webkit-gradient(linear, top left, bottom left, from(#4bbfc3), to(#7baabe));
	background: -webkit-linear-gradient(#4BBFC3, #7BAABE);
	background: linear-gradient(#4BBFC3,#7BAABE);
	background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center;
}

.guide-block {
    position: absolute;
    top: 50%;
    margin-top: -125px;

    h1 {
    	color: white;
    }
}

/*nav slide*/

#nav_slide{
	position:fixed;
	height: 80%;
	display:block;
	width: 30px;
	background: #333;
	z-index:9;
	text-align:center;
	color: #f2f2f2;
}

#nav_slide{
	left:0px;
	top:10%
}


#header{
	position:fixed;
	height: 60px;
	display:block;
	width: 100%;
	background: clear;
	z-index:9;
	text-align:center;
	color: #f2f2f2;
	top: 0;
}

a.btn-outline-inverse {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}
a.btn-outline-inverse:hover, a.btn-outline-inverse:focus, a.btn-outline-inverse:active {
  color: #333;
  background-color: #fff;
  border-color: #fff;
}

.mail-attractive,
.phone-attractive{
  border-width: 2px;
  border-style: solid;
  font-weight: 400;
  text-transform: uppercase;
  color:white;
  border-radius: 50px;
  background-color: rgba(32,184,232,.25);
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
  background-position:center;
}

.mail-selected,
.phone-selected,
.mail-attractive:hover,
.phone-attractive:hover {
  background-color: #fff;
  transition: ease background-color 0.4s;
  text-decoration: none;
  color:#3399cc;
}

.mail-attractive {
	float: left;
	margin-left: 3%;
	background-image: image-url("mail_nor.png");
}

.phone-attractive {
	float: right;
	margin-right: 3%;
	background-image: image-url("phone_nor.png");
}

.mail-selected,
.mail-attractive:hover{
  background-image: image-url("mail_sel.png");
}

.phone-selected,
.phone-attractive:hover {
  background-image: image-url("phone_sel.png");
}


.mail-content,
.phone-content {
	display: none;
	background-color: white;
	border-width: 2px;
	border-style: solid;
	font-size: 30px;
	color:#3399cc;
	border-radius: 50px;
	height: 50px;
	width: 260px;
}

.mail-content {
	float: left;
	padding-left:10px;
}

.phone-content {
	float: right;
	padding-right:10px;
}

.show-content {
	display: block;
}

/*the section title*/

.section-title {
	text-align: center;
	margin-bottom: 60px;
	color: white;
}

/*seciton background color*/

#section0{
	background: -webkit-gradient(linear, top left, bottom left, from(#4bbfc3), to(#7baabe));
	background: -webkit-linear-gradient(#4BBFC3, #7BAABE);
	background: linear-gradient(#4BBFC3,#7BAABE);
}

#section1{
	background: -webkit-gradient(linear, top left, bottom left, from(#7baabe), to(#33CC66));
	background: -webkit-linear-gradient(#7BAABE, #33CC66);
	background: linear-gradient(#7BAABE,#33CC66);
}

#section2{
	background: -webkit-gradient(linear, top left, bottom left, from(#33CC66), to(#669999 ));
	background: -webkit-linear-gradient(#33CC66, #669999 );
	background: linear-gradient(#33CC66,#669999 );
}


#section3{
	background: -webkit-gradient(linear, top left, bottom left, from(#669999), to(#006699));
	background: -webkit-linear-gradient(#669999, #006699);
	background: linear-gradient(#669999,#006699);
}


/* blur background */

.blur {
    background-color: white;
    border-radius: 30px;
}

.profile-background li {
	font-size: 20px;
	color: #4bbfc3;
}

.shunlian-background li {
	font-size: 20px;
	color: #7baabe;
}

.zhengbao-background li {
	font-size: 20px;
	color: #33CC66;
}

.lantop-background li {
	font-size: 20px;
	color: #006699;
}


/* qrcode  */

.qrcode {
	width: 200px;
	height: 200px;
}

.qrtitle {
	color: white;
	padding-left: 40px;
}



